# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =====================
# Virtual environments
# =====================
ml_365_env/
.venv/
venv/
env/
*.conda/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# Secrets
# =====================
.env

